<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <h1>{{pageTitle}}</h1>
    <h4>Project List:</h4>
    <ul>
      <li>Project One</li>
      <li>Project Two</li>
      <li>Project Three</li>
      <li>Project Four</li>
      <li>Project Five</li>
    </ul>

    {{> footer}}
  </body>
</html>
